@font-face {
  font-family: "Hanken Grotesk";
  /* src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf"); */
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
  src: url("../assets/fonts/static/HankenGrotesk-Bold.ttf");
  src: url("../assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
  src: url("../assets/fonts/static/HankenGrotesk-Medium.ttf");
}

:root {
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-grey-blue: hsl(224, 30%, 27%);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  /* border-bottom: 1px solid gray; */
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.container > .card {
  display: flex;
  align-items: stretch;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.result {
  max-width: 225px;
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
  color: var(--white);
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  gap: 30px;
}

.result span {
  font-size: 1.25rem;
  text-align: center;
  opacity: 70%;
  font-weight: 100;
}

.result .score {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result .score h2 {
  font-size: 3rem;
}

.result .score span {
  opacity: 60%;
}

.result .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result .description h2 {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}

.result .description p {
  text-align: center;
  opacity: 80%;
}

.summary {
  min-width: 275px;
  /* border: 1px solid blue; */
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.summary .title {
  font-size: 1.25rem;
  font-weight: 600;
}

.summary .detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.summary .detail > .card {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  padding: 12px;
  border-radius: 10px;
}

.summary .detail .detail-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.summary .detail .detail-score {
  color: rgba(0, 0, 0, 0.4);
}

.summary .detail .detail-score span {
  color: black;
  font-weight: 700;
}

.reaction {
  color: var(--light-red);
  background-color: hsl(0, 90%, 98%);
  /* background-color: hsl(var(--light-red), 100%, 80%); */
}

.memory {
  color: var(--orange-yellow);
  background-color: hsl(39, 90%, 98%);
}

.verbal {
  color: var(--green-teal);
  background-color: hsl(166, 90%, 98%);
}

.visual {
  color: var(--cobalt-blue);
  background-color: hsl(234, 90%, 98%);
}

.summary .action {
  background-color: var(--dark-grey-blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 40px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop */
@media (max-width: 1440px) {
  .result {
    max-width: 225px;
    min-width: 200px;
  }

  .summary {
    min-width: 275px;
  }
}

/* Mobile */
@media (max-width: 375px) {
  .container {
    margin: 0;
    padding: 0;
    align-items: flex-start;
  }

  .container > .card {
    flex-direction: column;
    border-radius: 0;
    width: 100%;
  }

  .result {
    max-width: 375px;
    border-radius: 0px 0px 20px 20px;
  }

  .summary {
    min-width: 200px;
  }
}
